<a href="https://colab.research.google.com/github/limhasic/Object_Detection/blob/main/%EA%B0%95%EC%9D%98%EC%9E%90%EB%A3%8C_%EC%8B%9C%EA%B3%84%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **목표 : 시계열 예측 모델과 이상 탐지에 대한 구현**

* 1. 시계열 예측  
    1.1 시계열 예측란?  
    1.2 시계열 예측 모델이란?   
    1.3 시계열 예측 모델 구성요소  
* 2. 데이터 불러오기  
    2.1 Kaggle 이란?    
    2.2 Kaggle 데이터 불러오기
* 3. 데이터 탐색   
    3.1 Kaggle 데이터 탐색  
* 4. 시계열 예측 모델 구축  
    4.1 시계열 예측 모델 구축
* 5. 이상 탐지(Anomaly Detection)  
    5.1 이상 탐지 모델 구축  
    5.2 결과 제출

In [ ]:
# 코로나 확진자 수 예측 모델 구축

In [ ]:
!pip install kaggle # kaggle 라이브러리 설치
from google.colab import files # colab 라이브러리 가져오기 
files.upload()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.6.15)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"hasiclim","key":"9f64a79ffe5ffd4a8c6e5624af84e49f"}'}

In [ ]:
!mkdir -p ~/.kaggle 
!cp kaggle.json ~/.kaggle/
# 나에 대한 읽기(4) 쓰기(1) 권한부여 설정
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!ls -1ha kaggle.json

kaggle.json

In [ ]:
!kaggle datasets download -d sudalairajkumar/novel-corona-virus-2019-dataset

Downloading novel-corona-virus-2019-dataset.zip to /content
  0% 0.00/8.52M [00:00<?, ?B/s]
100% 8.52M/8.52M [00:00<00:00, 117MB/s]

In [ ]:
!unzip -q /content/novel-corona-virus-2019-dataset.zip

# 평가 지표

예측 된 값과 실제 값 사이의 차이 값을 통해 모델의 성능을 가늠

yi: 예측 대상인 실제 값  
y^i: 모델에 의한 예측 값  
n: 시험 데이터셋(test dataset)의 크기

# 코로나 데이터 확진자 수 (2019)

In [ ]:
import pandas as pd

all = pd.read_csv('/content/covid_19_data.csv')
confirmed = pd.read_csv('/content/time_series_covid_19_confirmed.csv') # 누적데이터로 해당 날짜까지의 총 확진자수를 의미

In [ ]:
confirmed

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,64575,65080,65486,65728,66275,66903,67743,68366,69130,70111
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,132118,132153,132176,132209,132215,132229,132244,132264,132285,132297
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,126156,126434,126651,126860,127107,127361,127646,127926,128198,128456
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,13569,13569,13569,13569,13569,13664,13671,13682,13693,13693
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,31661,31909,32149,32441,32623,32933,33338,33607,33944,34180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,4809,4941,5119,5275,5404,5931,6086,6356,6396,6908
272,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,304532,304968,305201,305201,305777,306334,306795,306795,307569,307838
273,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,6613,6632,6649,6658,6662,6670,6688,6696,6723,6731
274,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,92754,92920,93106,93201,93279,93428,93627,93947,94430,94751
275,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,38635,38664,38679,38682,38696,38706,38819,38854,38918,38933